# OpenAI API Settings
OPENAI_API_KEY=your_openai_api_key_here

# LangSmith Tracing Settings
LANGCHAIN_TRACING_V2=true
LANGCHAIN_ENDPOINT=https://api.smith.langchain.com
LANGCHAIN_API_KEY=your_langchain_api_key_here
LANGCHAIN_PROJECT=ai-agent-rag

# PostgreSQL DB Settings
POSTGRES_USER=admin
POSTGRES_PASSWORD=password
POSTGRES_DB=rag_db
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
